amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.18
certifi==2018.11.29
chardet==3.0.4
Django==2.2
django-countries-plus
django-filter
django-rest-auth
django-sendgrid-v5
djangorestframework
djangorestframework-jwt
drf-writable-nested
flake8
jsonfield
markdown
pre-commit
psycopg2-binary
djangorestframework-simplejwt
